/* Commands */

ul {
    list-style: none;
}

body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

/* Studio */

/* Header */

.header-logo1 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.header-logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: #000000;
}

.header-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.header-link:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
}

.header-post {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.header-post:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
}


.header-telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.header-telephone:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
}

/* Main */

/* Topic  */

.topic-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
    text-transform: uppercase;
}

.topic-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    background: #2196F3;
}

/* About us  */

.about-us-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.about-us-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

/* Work  */

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
}

/* Team  */

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
}

.team-name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: #212121;
}

.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #757575;
}

/* Footer */

.footer-logo1 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.footer-logo2 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}

.footer-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.footer-telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

/* Portfolio */

/* Header */

.header-logo1 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.header-logo2 {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    color: #000000;
}

.header-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: #212121;
}


.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #212121;
}

.header-post {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

.header-post:hover {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2196F3;
}


.header-telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

/* Main */

/* Tabs  */

.tabs-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #212121;
    background: #F5F4FA;
}

.tabs-button:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: #FFFFFF;
    background: #2196F3;
}

/* Projects  */

.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}

.projects-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #757575;
}

/* Footer */

.footer-logo1 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #2196F3;
}

.footer-logo2 {   
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
}


.footer-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}

.footer-telephone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #757575;
}

